<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   
  <body>
<body>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?

    Fistname: <%=current_user.fist_name %>
    Lastname: <%=current_user.last_name %>

    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>
</body>

     
	  <%= link_to 'Articles',articles_path %>||
	  <%= link_to 'blogs','/blogs' %> ||
	  <%=link_to 'Home','home'%>||
	  <%= link_to 'aboutus','/aboutus'%> ||
	  <%= link_to 'contactus','/contactus'%> ||
   
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>